<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}Polls APP{% endblock %}</title>
    <link rel="stylesheet" href="{% static "polls/style.css" %}">
</head>
<body>

    {% if messages %}
        {% for message in messages %}
            <p id="message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div id="navbar">
        <a href="{% url 'main' %}" id="logo">Mysite</a>
        <a href="{% url 'articles:index' %}" id="menu">Articles</a>
        <a href="{% url 'polls:index' %}" id="menu">Polls</a>
        <a href="{% url 'shop:index' %}" id="menu">Shop</a>
        <a href="/admin/" id="menu">Admin</a>
    </div>

    <div id="index">{% block body %}{% endblock %}</div>

</body>
</html>