{% extends 'polls/base.html' %}

{% block title %}Articles APP{% endblock %}

{% block body %}
    {% if articles_list %}
        <h1 style="font-size: 36px">Articles:</h1>
        <ul>
            {% for article in articles_list|dictsort:'title' %}
                <li><a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No articles are available.</p>
    {% endif %}
    <a href="{% url 'articles:create_article' %}" id="button">create new article</a>
{% endblock %}